* {
  border: none;
  border-radius: 0px;
  /* База — Medium, чтобы не было "перегруза" жирностью */
  font-family: "JetBrains Mono Medium";
  font-weight: 500;
  font-size: 17px;
  min-height: 0;
  color: #ebdbb2;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: #1d2021;
  /* Границу убрал */
}

/* Workspace Buttons — Оставил жирными, как ты просил */
#workspaces button {
  font-weight: bold;
}

#workspaces button label {
  padding: 0 11px;
}

#workspaces button.active label {
  color: #ebdbb2; /* Твой оригинальный цвет */
}

#workspaces button:hover {
  background: #3c3836;
}

#workspaces button.active {
  background: #d65d0e; /* Твой оригинальный фон */
}

/* Индикаторы — Medium для "живого" контраста */
#clock, #pulseaudio, #tray, #language {
  padding: 0 10px;
  font-weight: 500;
}

/* Часы — Курсив, как в Emacs */
#clock {
  color: #b16286;
  font-style: italic;
}

#language {
  color: #d79921;
}

#wireplumber {
  color: #83a598;
}

#pulseaudio.muted {
  padding: 0 10px;
  color: #cc241d;
  font-weight: bold;
}

#tray {
  color: #d65d0e;
}

#custom-weather {
  color: #98971a;
}

#memory {
  color: #98971a;
  font-weight: 500;
  padding: 0 10px;
}


/* Батарейка — Жирная, как ты просил */
#battery {
  font-weight: bold;
  color: #d65d0e;
  padding: 0 10px;
}
