* {
  border: none;
  border-radius: 0px;
  /* База — Medium, чтобы не было "перегруза" жирностью */
  font-family: "JetBrains Mono Medium";
  font-weight: 500;
  font-size: 17px;
  min-height: 0;
  color: #ebdbb2;
  margin: 0;
  padding: 0;
}

window#waybar {
    background: #1d2021;
    font-style: italic;
}

#workspaces button {
    font-weight: 500;
    font-style: normal;
}

#workspaces button label {
  padding: 0 11px;
}

#workspaces button.active label {
  color: #ebdbb2;
}

#workspaces button:hover {
  background: #3c3836;
}

#workspaces button.active {
  background: #d65d0e;
}

#clock, #pulseaudio, #tray, #language {
    padding: 0 10px;
  font-weight: 500;
  font-style: normal;
}

#clock {
    color: #b16286;
    padding: 0 10px;
  font-style: normal;
}

#language {
    color: #d79921;
    padding: 0 10px;
}

#wireplumber {
    color: #83a598;
    font-weight: 500;
    font-style: normal;
    padding: 0 10px;
}

#network {
    color: #689d6a;
    padding: 0 10px;
    font-style: normal;
}

#pulseaudio.muted {
  padding: 0 10px;
  color: #cc241d;
  font-weight: 500;
}

#tray {
    padding: 0 10px;
  color: #d65d0e;
}

#custom-weather {
  color: #98971a;
}

#memory {
  color: #98971a;
  font-weight: 500;
  padding: 0 10px;
  font-style: normal;
}


#battery {
  font-weight: 500;
  color: #d65d0e;
  padding: 0 10px;
  font-style: normal;
}
